<template>
  <v-navigation-drawer app permanent :rail="rail" @click="rail = false">
    <v-list-item prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg" :title="this.user" nav>
        <template v-slot:append>
          <v-btn
            variant="text"
            icon="mdi-chevron-left"
            @click.stop="rail = !rail"
          ></v-btn>
        </template>
        </v-list-item>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <RouterLink to="/" class="text-black text-decoration-none">
            <v-list-item
              prepend-icon="mdi-view-dashboard"
              title="Dashboard"
              value="Dashboard"
            >
            </v-list-item>
          </RouterLink>

          <v-list-group value="Réservation">
            <template v-slot:activator="{ props }">
              <v-list-item
                v-bind="props"
                prepend-icon="mdi-calendar"
                title="Réservation"
              ></v-list-item>
            </template>

            <RouterLink
              to="/reservations/attentes"
              class="text-black text-decoration-none"
            >
              <v-list-item
                prepend-icon="mdi-clock"
                title="En attente"
                value="Réservation/EnCours"
              >
              </v-list-item>
            </RouterLink>
            <RouterLink
              to="/reservations/en-cours"
              class="text-black text-decoration-none"
            >
              <v-list-item
                prepend-icon="mdi-calendar-clock"
                title="A venir"
                value="Réservation/ÀVenir"
              >
              </v-list-item>
            </RouterLink>
          </v-list-group>

          <v-list-group value="Comptes">
            <template v-slot:activator="{ props }">
              <v-list-item
                v-bind="props"
                prepend-icon="mdi-account"
                title="Comptes"
              ></v-list-item>
            </template>

            <RouterLink
              to="/accounts/clients"
              class="text-black text-decoration-none"
            >
              <v-list-item
                prepend-icon="mdi-account-group"
                title="Clients"
                value="Comptes/Utilisateurs"
              >
              </v-list-item>
            </RouterLink>
            <RouterLink
              to="/accounts/employees"
              class="text-black text-decoration-none"
            >
              <v-list-item
                prepend-icon="mdi-account-tie"
                title="Employés"
                value="Comptes/Employés"
              >
              </v-list-item>
            </RouterLink>
          </v-list-group>

          <RouterLink to="/tables" class="text-black text-decoration-none">
            <v-list-item
              prepend-icon="mdi-cog"
              title="Table"
              value="Table"
            >
            </v-list-item>
          </RouterLink>
          <RouterLink to="/services" class="text-black text-decoration-none">
            <v-list-item
              prepend-icon="mdi-clock-outline"
              title="Service"
              value="Service"
            >
            </v-list-item>
          </RouterLink>

          <RouterLink to="/plats" class="text-black text-decoration-none">
            <v-list-item
              prepend-icon="mdi-chef-hat"
              title="Plat"
              value="Plat"
            >
            </v-list-item>
          </RouterLink>

          <RouterLink to="/login" @click="logout" class="text-black text-decoration-none">
            <v-list-item
              prepend-icon="mdi-logout"
              title="Déconnexion"
              value="Déconnexion"
            >
            </v-list-item>
          </RouterLink>
        </v-list>
      </v-navigation-drawer>
</template>

<script>

export default{
  name: 'AppBar',
  data() {
    return {
      rail: true,
      user: '--- ---' 
    }
  },
  mounted(){
    let userStorage = localStorage.getItem('user')
    if (userStorage !== undefined) {
      userStorage = JSON.parse(userStorage);
      this.user = userStorage ? userStorage.firstName + ' ' + userStorage.lastName : '';
    }
  },
  methods: {
    toggleDrawer() {
      this.$emit('toggle-drawer'); // Émet l'événement personnalisé pour demander l'ouverture/fermeture de la barre de navigation
    },
    logout(){
      localStorage.removeItem('token');
      localStorage.removeItem('refreshToken');
      localStorage.removeItem('user');
      localStorage.removeItem('Logged');
    }
  },
}
</script>