<template>
  <div class="rounded-lg pb-4 mb-2">
    <h2 class="h2">Statistiques Journalières</h2>
    <div v-if="generalData">
      <v-row no-gutters>
        <v-col cols="12" md="4" lg="4">
          <v-sheet
            class="pa-2 ma-2 h-100 rounded-lg"
            :class="[`elevation-${3}`]"
          >
            <div class="d-flex align-center">
              <v-icon
                color="green-darken-2"
                icon="mdi-table-chair"
                class="mr-2"
              ></v-icon>
              <p class="Title">Prochaines Réservations</p>
            </div>
            <div v-for="data in generalData.nextReservations" :key="data.id">
              <v-row no-gutters class="justify-space-between">
                <p>{{ data.table.title }}</p>
                <p>{{ data.date }}</p>
                <p>{{ data.nb_personnes + data.nb_enfants }} pers</p>
              </v-row>
            </div>
            <div v-if="generalData.nextReservations.length == 0">
              Aucune réservations
            </div>
          </v-sheet>
        </v-col>
        <v-col cols="12" md="4" lg="4">
          <v-sheet
            class="pa-2 ma-2 h-100 rounded-lg"
            :class="[`elevation-${3}`]"
          >
            <div class="d-flex align-center">
              <v-icon
                color="blue-accent-2"
                icon="mdi-calendar-check"
                class="mr-2"
              ></v-icon>
              <p class="Title">Nombre de Réservation aujourd'hui</p>
            </div>
            <v-row
              v-for="data in generalData.reservationByService"
              :key="data.id"
              no-gutters
            >
              <p>{{ data.title }}: {{ data.reservations.length }}</p>
            </v-row>
            <div v-if="generalData.reservationByService.length == 0">
              Aucune réservations
            </div>
          </v-sheet>
        </v-col>
        <v-col cols="12" md="4" lg="4">
          <v-sheet
            class="pa-2 ma-2 h-100 rounded-lg"
            :class="[`elevation-${3}`]"
          >
            <div class="d-flex align-center">
              <v-icon
                color="warning"
                icon="mdi-alert-circle"
                class="mr-2"
              ></v-icon>
              <p class="Title">Alertes désistements</p>
            </div>
            <div>
              <v-row
                v-for="data in generalData.nextReservationsCancel"
                :key="data.id"
                no-gutters
                class="justify-space-between"
              >
                <p>{{ data.table.title }}</p>
                <p>{{ data.date }}</p>
                <p>{{ data.nb_personnes + data.nb_enfants }} pers</p>
              </v-row>
              <div v-if="generalData.nextReservationsCancel.length == 0">
                Aucun désistement
              </div>
            </div>
          </v-sheet>
        </v-col>
      </v-row>
    </div>
    <div v-else>
      <p>Chargement des données...</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "day-stats",
  data() {
    return {
      generalData: null,
    };
  },
  mounted() {
    this.fetchGeneralData();
  },
  methods: {
    fetchGeneralData() {
      axios
        .get(`http://localhost:3002/api/statistiques`, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        })
        .then((response) => {
          this.generalData = response.data;
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
};
</script>
