<template>
  <div class="rounded-lg mb-2">
    <h2 class="h2">Statistiques mensuelles</h2>
    <div v-if="generalData">
      <v-row no-gutters>
        <v-col cols="12" md="6" lg="4" xl="2">
          <v-sheet
            class="pa-4 ma-2 min-height-200 rounded-lg"
            :class="[`elevation-${3}`]"
          >
            <div class="d-flex align-center">
              <v-icon
                color="green-darken-2"
                icon="mdi-pizza"
                class="mr-2"
              ></v-icon>
              <p class="Title">Le plat le plus choisi</p>
            </div>
            <p v-if="generalData.plat.length == 0">Aucun plat n'a été choisi</p>
            <p v-else class="nombre">{{ generalData.plat.titre }}</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" md="6" lg="4" xl="2">
          <v-sheet
            class="pa-4 ma-2 min-height-200 rounded-lg"
            :class="[`elevation-${3}`]"
          >
            <div class="d-flex align-center">
              <v-icon
                color="blue-accent-2"
                icon="mdi-currency-eur"
                class="mr-2"
              ></v-icon>
              <p class="Title">Moyenne d'une commande</p>
            </div>
            <p v-if="generalData.averageOrder == 0">
              Aucune commande de passée
            </p>
            <p v-else class="nombre">{{ generalData.averageOrder }}€</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" md="6" lg="4" xl="2">
          <v-sheet
            class="pa-4 ma-2 min-height-200 rounded-lg"
            :class="[`elevation-${3}`]"
          >
            <div class="d-flex align-center">
              <v-icon
                color="blue-accent-2"
                icon="mdi-currency-eur"
                class="mr-2"
              ></v-icon>
              <p class="Title">Médiane d'une commande</p>
            </div>
            <p v-if="generalData.medianeOrder == 0">
              Aucune commande de passée
            </p>
            <p v-else class="nombre">{{ generalData.medianeOrder }}€</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" md="6" lg="4" xl="2">
          <v-sheet
            class="pa-4 ma-2 min-height-200 rounded-lg"
            :class="[`elevation-${3}`]"
          >
            <div class="d-flex align-center">
              <v-icon
                color="amber-accent-4"
                icon="mdi-food"
                class="mr-2"
              ></v-icon>
              <p class="Title">Réservation avec commande</p>
            </div>
            <p v-if="generalData.reservationWithOrder == 0">
              Aucune réservation
            </p>
            <p v-else class="nombre">{{ generalData.reservationWithOrder }}%</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" md="6" lg="4" xl="2">
          <v-sheet
            class="pa-4 ma-2 min-height-200 rounded-lg"
            :class="[`elevation-${3}`]"
          >
            <div class="d-flex align-center">
              <v-icon color="red" icon="mdi-close" class="mr-2"></v-icon>
              <p class="Title">Désistement</p>
            </div>
            <p v-if="generalData.reservationCancel == 0">Aucun désistement</p>
            <p v-else class="nombre">{{ generalData.reservationCancel }}%</p>
          </v-sheet>
        </v-col>
      </v-row>
    </div>
    <div v-else>
      <p>Chargement des données...</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Month-Stats",
  data() {
    return {
      generalData: null,
    };
  },
  mounted() {
    this.fetchGeneralData();
  },
  methods: {
    fetchGeneralData() {
      axios
        .get(`http://localhost:3002/api/statistiques`, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        })
        .then((response) => {
          this.generalData = response.data;
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
};
</script>
