<template>
  <div class="rounded-lg pb-2">
    <h2 class="h2">Statistiques Annuelles</h2>
    <v-row no-gutters>
      <v-col cols="12" md="6">
        <v-sheet class="pa-2 mx-2 h-100 rounded-lg" :class="[`elevation-${3}`]">
          <div>
            <canvas :id="'graphe1'"></canvas>
          </div>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="6">
        <v-sheet class="pa-2 mx-2 h-100 rounded-lg" :class="[`elevation-${3}`]">
          <div>
            <canvas :id="'graphe2'"></canvas>
          </div>
        </v-sheet>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from "axios";
import Chart from "chart.js/auto";

export default {
  name: "year-stats",
  data() {
    return {
      generalData: null,
      graphe1: null,
      graphe2: null,
    };
  },
  mounted() {
    this.fetchGeneralData();
  },
  methods: {
    fetchGeneralData() {
      axios
        .get(`http://localhost:3002/api/statistiques`, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        })
        .then((response) => {
          this.generalData = response.data;
          const ctx = document.getElementById("graphe1");
          new Chart(ctx, {
            type: "line",
            data: {
              labels: [
                "Janvier",
                "Février",
                "Mars",
                "Avril",
                "Mai",
                "Juin",
                "Juillet",
                "Aout",
                "Septembre",
                "Octobre",
                "Novembre",
                "Décembre",
              ],
              datasets: [
                {
                  label: "",
                  data: this.generalData.reservationsYear,
                  borderColor: "#FF4081",
                  borderWidth: 3,
                  pointRadius: 0,
                  backgroundColor: "#FF4081",
                },
              ],
            },
            options: {
              responsive: true,
              plugins: {
                title: {
                  display: true,
                  text: "Réservations réalisées via le site",
                  position: "top",
                  font: {
                    size: 20, // Taille de la police du titre
                  },
                },
              },
              scales: {
                y: {
                  beginAtZero: true,
                  grid: {
                    display: false,
                  },
                },
                x: {
                  grid: {
                    display: false,
                  },
                },
              },
            },
          });
          const ctx2 = document.getElementById("graphe2");
          new Chart(ctx2, {
            type: "line",
            data: {
              labels: [
                "Janvier",
                "Février",
                "Mars",
                "Avril",
                "Mai",
                "Juin",
                "Juillet",
                "Aout",
                "Septembre",
                "Octobre",
                "Novembre",
                "Décembre",
              ],
              datasets: [
                {
                  label: "",
                  data: this.generalData.usersByMonth,
                  borderColor: "#7C4DFF",
                  borderWidth: 3,
                  pointRadius: 0,
                  backgroundColor: "#7C4DFF",
                },
              ],
            },
            options: {
              responsive: true,
              plugins: {
                title: {
                  display: true,
                  text: "Nouveaux clients",
                  position: "top",
                  font: {
                    size: 20, // Taille de la police du titre
                  },
                },
              },
              scales: {
                y: {
                  beginAtZero: true,
                  grid: {
                    display: false,
                  },
                },
                x: {
                  grid: {
                    display: false,
                  },
                },
              },
            },
          });
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
};
</script>
