<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="1024">
      <template v-slot:activator="{ props }">
        <v-btn color="primary" v-bind="props">Nouvelle Table</v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Nouvelle Table</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Nom de la table*"
                  required
                  v-model="formData.title"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  type="number"
                  min="0"
                  label="Nombre de places*"
                  required
                  v-model="formData.nb_places"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*champs requis</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="addTable">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script setup>
import { ref } from "vue";
import axios from "axios";
import Swal from "sweetalert2";
import { useRouter } from "vue-router";

const router = useRouter();

const formData = ref({
  title: "",
  nb_places: 0,
});

const dialog = ref(false);

function addTable() {
  axios
    .post(`http://localhost:3002/api/tables`, formData.value, {
      headers: {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      },
    })
    .then(() => {
      Swal.fire({
        title: "Table ajoutée !",
        icon: "success",
      }).then(() => {
        router.go();
      });
    })
    .catch((err) => {
      Swal.fire({
        title: "Erreur !",
        text: err.response.data.message,
        icon: "error",
      });
    });

  dialog.value = false;
}
</script>
