<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="1024">
      <template v-slot:activator="{ props }">
        <v-btn color="primary" v-bind="props">Nouvelle réservation </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Nouvelle Réservation</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  type="date"
                  label="Jour de la réservation*"
                  required
                  v-model="formData.date"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-select
                  label="Heure réservation"
                  :items="formattedServices"
                  v-model="formData.service"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-select
                  label="Table de la réservation"
                  :items="formattedTables"
                  v-model="formData.table"
                  :disabled="!formData.service || !formData.date"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  type="number"
                  label="Nombre d'adultes*"
                  min="0"
                  required
                  v-model="formData.nb_personnes"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  type="number"
                  min="0"
                  label="Nombre d'enfants"
                  required
                  v-model="formData.nb_enfants"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Nom de la réservation*"
                  required
                  v-model="formData.client"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Téléphone du client*"
                  required
                  v-model="formData.phone"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12">
                <v-textarea
                  label="Description"
                  rows="3"
                  v-model="formData.description"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>*champs requis</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="addReservation">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script setup>
import { ref, onMounted } from "vue";
import axios from "axios";
import Swal from "sweetalert2";
import { useRouter } from "vue-router";
import { watch } from "vue";

const router = useRouter();

const formData = ref({
  date: "",
  heure: "",
  table: "",
  nb_personnes: 0,
  nb_enfants: 0,
  client: "",
  phone: "",
  description: "",
  service: "",
});
const tables = ref([]);
const services = ref([]);
const dialog = ref(false);
const formattedTables = ref([]);
const formattedServices = ref([]);

onMounted(() => {
  getServices();
});

watch(
  [() => formData.value.date, () => formData.value.service],
  ([newDate, newService]) => {
    if (newDate && newService) {
      getTables();
    }
  }
);

function addReservation() {
  axios
    .post(`http://localhost:3002/api/admin/reservations`, formData.value, {
      headers: {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      },
    })
    .then(() => {
      Swal.fire({
        title: "Réservation ajoutée !",
        icon: "success",
      }).then(() => {
        router.go();
      });
    })
    .catch((err) => {
      Swal.fire({
        title: "Erreur !",
        text: err.response.data.message,
        icon: "error",
      });
    });

  dialog.value = false;
}

function getTables() {
  axios
    .get(
      `http://localhost:3002/api/tables?serviceId=${formData.value.service}&date=${formData.value.date}`,
      {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      }
    )
    .then((res) => {
      tables.value = res.data.results;
      tables.value &&
        (tables.value = tables.value.filter((table) => table.isAvailable));
      formatTables();
    });
}

function getServices() {
  axios.get(`http://localhost:3002/api/services`).then((res) => {
    services.value = res.data.services;
    formatServices();
  });
}

function formatTables() {
  formattedTables.value = tables.value.map((table) => ({
    value: table.id,
    title: `${table.title} (places: ${table.nb_places})`,
  }));
}

function formatServices() {
  formattedServices.value = services.value.map((service) => ({
    value: service.id,
    title: `${service.date_start}`,
  }));
}
</script>
