<template>
  <v-row justify="center">
    <v-dialog v-model="this.dialog" persistent width="1024">
      <template v-slot:activator="{ props }">
        <v-btn color="primary" v-bind="props">Nouveau Plat </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Nouveau plat</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Nom du plat*"
                  required
                  v-model="this.titre"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  type="number"
                  label="Prix du plat*"
                  v-model="this.prix"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-file-input
                  label="Image du plat*"
                  name="image"
                  v-model="this.image"
                ></v-file-input>
              </v-col>
              <v-col cols="3" sm="3">
                <v-select
                  label="Select"
                  :items="['Pâtes', 'Pizza', 'Salade', 'Dessert', 'Boisson']"
                  variant="underlined"
                  v-model="type"
                ></v-select>
              </v-col>
              <v-col cols="9" sm="9">
                <v-textarea
                  label="Description"
                  rows="3"
                  v-model="this.description"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>*champs requis</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="addPlats">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "formPlat",
  data() {
    return {
      dialog: false,
      titre: "",
      prix: "",
      image: "",
      type: "",
      description: "",
    };
  },
  methods: {
    addPlats() {
      let formData = new FormData();
      formData.append("titre", this.titre);
      formData.append("prix", this.prix);
      formData.append("image", this.image[0]);
      formData.append("type", this.type);
      formData.append("description", this.description);
      axios
        .post(`http://localhost:3002/api/plats`, formData, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        })
        .then(() => {
          Swal.fire({
            title: "Plat ajouté !",
            icon: "success",
          }).then(() => {
            this.$router.go();
          });
        })
        .catch((err) => {
          Swal.fire({
            title: "Erreur !",
            text: err.response.data.message,
            icon: "error",
          });
        });

      this.dialog = false;
    },
  },
};
</script>
