<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="1024">
      <template v-slot:activator="{ props }">
        <v-btn color="primary" v-bind="props">Nouveau employé</v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Nouvelle employé</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-autocomplete
                  label="Utilisateurs"
                  :items="users"
                  item-text="title"
                  item-value="id"
                  v-model="formData.user_id"
                  :search-input.sync="search"
                  @input="handleSearchInput"
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
          <small>*champs requis</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="addEmployee">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script setup>
import { ref, onMounted } from "vue";
import axios from "axios";
import Swal from "sweetalert2";
import { useRouter } from "vue-router";

const router = useRouter();

const formData = ref({
  role: "Employee",
  user_id: null,
});

const users = ref([]);
const dialog = ref(false);
const search = ref("");
const searchUser = ref("");

onMounted(() => {
  getUsers();
});

function addEmployee() {
  axios
    .put(
      `http://localhost:3002/api/users/${formData.value.user_id}`,
      formData.value,
      {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      }
    )
    .then(() => {
      Swal.fire({
        title: "Employé ajouté !",
        icon: "success",
      }).then(() => {
        router.go();
      });
    })
    .catch((err) => {
      Swal.fire({
        title: "Erreur !",
        text: err.response.data.message,
        icon: "error",
      });
    });

  dialog.value = false;
}

function handleSearchInput(value) {
  search.value = value;
  if (search.value.data != null) {
    searchUser.value = `${searchUser.value}${search.value.data}`;
  } else {
    searchUser.value = searchUser.value.slice(0, -1);
  }
  getUsers();
}

function getUsers() {
  axios
    .get(`http://localhost:3002/api/users?search=${searchUser.value}`, {
      headers: {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      },
    })
    .then((res) => {
      users.value = res.data.results;
      users.value.forEach((user) => {
        user.title = user.firstName + " " + user.lastName;
      });
    });
}
</script>
