<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div>
    <h1 class="text-2xl ma-2 font-bold">Compte Client</h1>
    <div class="mx-2 mt-2" id="grid"></div>
  </div>
</template>
<script setup>
import { onMounted } from "vue";
import { Grid, h } from "gridjs";
import { frFR } from "gridjs/l10n";
onMounted(() => {
  getTable();
});
function getTable() {
  new Grid({
    columns: [
      { name: "id", hidden: true },
      "Nom",
      "Prénom",
      "Email",
      "Téléphone",
    ],
    pagination: {
      limit: 30,
      server: {
        url: (prev, page, limit) =>
          `${prev}${prev.includes("?") ? "&" : "?"}limit=${limit}&offset=${
            page * limit
          }`,
      },
    },
    search: {
      server: {
        url: (prev, keyword) =>
          `${prev}${prev.includes("?") ? "&" : "?"}search=${keyword}`,
      },
    },
    sort: true,
    server: {
      url: "http://localhost:3002/api/users?role=Client",
      headers: {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      },
      then: (data) =>
        data.results.map((personnel) => [
          personnel.id,
          personnel.lastName,
          personnel.firstName,
          personnel.email,
          personnel.phone,
        ]),
      total: (data) => data.count,
    },
    language: frFR,
  }).render(document.getElementById("grid"));
}
</script>
