<template>
  <div class="d-flex flex-column justify-space-around">
    <h1 class="mb-2 h1">Dashboard</h1>
    <day/>
    <month/>
    <year/>
  </div>
</template>

<script>
import  day  from "../components/Dashboard/DayStats.vue";
import  month  from "../components/Dashboard/MonthStats.vue";
import  year  from "../components/Dashboard/YearStats.vue";


export default {
  name: 'Dashboard',
  components: {
    day,
    month,
    year,
  },
}
</script>

<style>
.border-bottom{
  border-bottom: 2px solid #e0e0e0; 
}
h1, .h2{
  color: #37474F
}
.Title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #37474F;
}
.nombre {
  font-size: 1.5rem;
  font-weight: bold;
  color: #37474F;
}
</style>