<template>
  <v-sheet class="h-screen" rounded>
    <h1 class="text-center">ReservEat - Dashboard</h1>
    <v-card
      class="mx-auto px-6 py-8"
      :class="[`elevation-${3}`]"
      max-width="344"
    >
      <v-form v-model="form" @submit.prevent="onSubmit">
        <v-text-field
          v-model="email"
          :readonly="loading"
          :rules="[required]"
          class="mb-2"
          clearable
          label="Email"
        ></v-text-field>

        <v-text-field
          v-model="password"
          type="password"
          :readonly="loading"
          :rules="[required]"
          clearable
          label="Password"
          placeholder="Enter your password"
        ></v-text-field>

        <br />

        <v-btn
          :disabled="!form"
          :loading="loading"
          block
          color="info"
          size="large"
          type="submit"
          variant="elevated"
        >
          Sign In
        </v-btn>
      </v-form>
    </v-card>
  </v-sheet>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";

export default {
  name: "Log-in",
  data: () => ({
    form: false,
    email: null,
    password: null,
    loading: false,
  }),

  methods: {
    onSubmit() {
      if (!this.form) return;
      axios
        .post("http://localhost:3002/auth/login", {
          email: this.email,
          password: this.password,
        })
        .then((res) => {
          if (res.data.user.role === "Employee") {
            localStorage.setItem("token", res.data.accessToken);
            localStorage.setItem("refreshToken", res.data.refreshToken);
            localStorage.setItem("user", JSON.stringify(res.data.user));
            localStorage.setItem("Logged", true);
            Swal.fire({
              title: "Connexion réussie !",
              icon: "success",
            }).then(() => {
              this.$router.push("/");
            });
          } else {
            Swal.fire({
              title: "Erreur !",
              text: "Vous n'êtes pas autorisé à vous connecter",
              icon: "error",
            });
          }
        })
        .catch((err) => {
          console.log(err);
          Swal.fire({
            title: "Erreur !",
            text: err.response.data.message,
            icon: "error",
          });
        });
    },
    required(v) {
      return !!v || "Field is required";
    },
  },
};
</script>
