<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div>
    <h1 class="text-2xl ma-2 font-bold">Plats</h1>
    <v-radio-group v-model="type" inline>
      <v-radio label="Pâtes" disabled value="Pâtes"></v-radio>
      <v-radio label="Pizza" disabled value="Pizza"></v-radio>
      <v-radio label="Salade" disabled value="Salade"></v-radio>
      <v-radio label="Dessert" disabled value="Dessert"></v-radio>
      <v-radio label="Boisson" disabled value="Boisson"></v-radio>
      <v-radio label="Tout" value=""></v-radio>
    </v-radio-group>
    <formPlat />
    <div class="mx-2 mt-2" id="grid"></div>
  </div>
</template>
<script setup>
import { onMounted, ref } from "vue";
import { Grid, h } from "gridjs";
import { frFR } from "gridjs/l10n";
import cross from "../assets/cross.svg";
import Swal from "sweetalert2";
import axios from "axios";
import { useRouter } from "vue-router";
import formPlat from "../components/formPlat.vue";
const router = useRouter();
const type = ref("");

onMounted(() => {
  getTable();
});

function getTable() {
  new Grid({
    columns: [
      { name: "id", hidden: true },
      { name: "type", hidden: true },
      "Nom du plat",
      "Description",
      "Prix (€)",
      {
        id: "image",
        name: "Image",
        formatter: (cell, row) => {
          return h("img", {
            src: cell,
            alt: "Image du plat",
            style: "width: 50px; height: 50px;",
          });
        },
      },
      {
        id: "action",
        name: "Action",
        width: "110px",
        formatter: (cell, row) => {
          const suppButton = h("img", {
            src: cross,
            alt: "Supprimer",
            class: "ml-2",
            style: "width: 25px; height: 25px; cursor: pointer;",
            onclick: () => deleteRow(row),
          });

          return h(
            "div",
            {
              style: "display: flex; align-items: center;",
            },
            suppButton
          );
        },
      },
    ],
    pagination: {
      limit: 30,
      server: {
        url: (prev, page, limit) =>
          `${prev}${prev.includes("?") ? "&" : "?"}limit=${limit}&offset=${
            page * limit
          }`,
      },
    },
    search: {
      server: {
        url: (prev, keyword) =>
          `${prev}${prev.includes("?") ? "&" : "?"}search=${keyword}`,
      },
    },
    sort: true,
    server: {
      url: `http://localhost:3002/api/plats?type=${type.value}`,
      then: (data) =>
        data.results.map((plat) => [
          plat.id,
          plat.type,
          plat.titre,
          plat.description,
          plat.prix,
          plat.image,
        ]),
      total: (data) => data.count,
    },
    language: frFR,
  }).render(document.getElementById("grid"));
}

function deleteRow(id) {
  Swal.fire({
    title: "Êtes-vous sûr de vouloir surppimer le plat ?",
    icon: "warning",
    showCancelButton: true,
    confirmButtonText: "Oui, supprimer !",
    cancelButtonText: "Annuler",
  }).then((result) => {
    if (result.isDismissed) return;
    axios
      .delete("http://localhost:3002/api/plats/" + id._cells[0].data, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      })
      .then(() => {
        if (result.value) {
          Swal.fire({
            title: "Plat supprimé !",
            icon: "success",
          }).then(() => {
            router.go();
          });
        }
      })
      .catch((err) => {
        Swal.fire({
          title: "Erreur !",
          text: err.response.data.message,
          icon: "error",
        });
      });
  });
}
</script>
