<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div>
    <h1 class="text-2xl ma-2 font-bold">Réservation en attente</h1>
    <div class="mx-2 mt-2" id="grid"></div>
  </div>
</template>
<script setup>
import { onMounted } from "vue";
import { Grid, h } from "gridjs";
import { frFR } from "gridjs/l10n";
import check from "../assets/check.svg";
import cross from "../assets/cross.svg";
import Swal from "sweetalert2";
import axios from "axios";
import { useRouter } from "vue-router";

const router = useRouter();

onMounted(() => {
  getTable();
});
function getTable() {
  new Grid({
    columns: [
      { name: "id", hidden: true },
      "Date",
      "Nom client",
      "Table",
      "Nbre personnes",
      "Nbre enfants",
      "Description",
      {
        id: "action",
        name: "Action",
        formatter: (cell, row) => {
          const viewImage = h("img", {
            src: check,
            alt: "Voir",
            style: "width: 25px; height: 25px; cursor: pointer;",
            onclick: () => acceptRow(row),
          });

          const suppButton = h("img", {
            src: cross,
            alt: "Supprimer",
            class: "ml-2",
            style: "width: 25px; height: 25px; cursor: pointer;",
            onclick: () => refuseRow(row),
          });

          return h(
            "div",
            {
              style: "display: flex; align-items: center;",
            },
            viewImage,
            suppButton
          );
        },
      },
    ],
    pagination: {
      limit: 30,
      server: {
        url: (prev, page, limit) =>
          `${prev}${prev.includes("?") ? "&" : "?"}limit=${limit}&offset=${
            page * limit
          }`,
      },
    },
    search: {
      server: {
        url: (prev, keyword) =>
          `${prev}${prev.includes("?") ? "&" : "?"}search=${keyword}`,
      },
    },
    sort: true,
    server: {
      url: "http://localhost:3002/api/reservations?status=Pending",
      headers: {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      },
      then: (data) =>
        data.results.map((reservation) => [
          reservation.id,
          reservation.date,
          reservation.user
            ? `${reservation.user.lastName} ${reservation.user.firstName}`
            : reservation.name,
          reservation.table.title,
          reservation.nb_personnes,
          reservation.nb_enfants,
          reservation.description,
        ]),
      total: (data) => data.count,
    },
    language: frFR,
  }).render(document.getElementById("grid"));
}

function acceptRow(id) {
  Swal.fire({
    title: "Êtes-vous sûr de vouloir accepter cette réservation ?",
    icon: "warning",
    showCancelButton: true,
    confirmButtonText: "Oui, accepter !",
    cancelButtonText: "Annuler",
  }).then((result) => {
    if (result.isDismissed) return;
    axios
      .put(
        "http://localhost:3002/api/admin/reservations/" + id._cells[0].data,
        {
          status: "Accepted",
        },
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      .then(() => {
        if (result.value) {
          Swal.fire({
            title: "Réservation acceptée !",
            icon: "success",
          }).then(() => {
            router.go();
          });
        }
      })
      .catch((err) => {
        Swal.fire({
          title: "Erreur !",
          text: err.response.data.message,
          icon: "error",
        });
      });
  });
}

function refuseRow(id) {
  Swal.fire({
    title: "Êtes-vous sûr de vouloir refuser cette réservation ?",
    icon: "warning",
    showCancelButton: true,
    confirmButtonText: "Oui, refuser !",
    cancelButtonText: "Annuler",
  }).then((result) => {
    if (result.isDismissed) return;
    axios
      .put(
        "http://localhost:3002/api/admin/reservations/" + id._cells[0].data,
        {
          status: "Refused",
        },
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      .then(() => {
        if (result.value) {
          Swal.fire({
            title: "Réservation refusée !",
            icon: "success",
          }).then(() => {
            router.go();
          });
        }
      })
      .catch((err) => {
        Swal.fire({
          title: "Erreur !",
          text: err.response.data.message,
          icon: "error",
        });
      });
  });
}
</script>
