<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div>
    <h1 class="text-2xl ma-2 font-bold">Réservation à venir</h1>
    <formReservation />
    <v-dialog v-model="dialog2" width="auto">
      <v-card>
        <v-card-title>
          <span class="text-h5">Récapitulatif</span>
        </v-card-title>
        <v-card-text v-for="menu in menus" :key="menu.id">
          {{ menu.quantity }}x
          {{ menu.plat.titre }}
          {{ menu.plat.prix }}€
        </v-card-text>
        <v-card-text v-if="menus.length == 0">Aucun plat commandé</v-card-text>
        <v-card-actions>
          <v-btn color="primary" block @click="dialog2 = false"
            >Close Dialog</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div class="mx-2 mt-2" id="grid"></div>
  </div>
</template>
<script setup>
import { onMounted, ref } from "vue";
import { Grid, h } from "gridjs";
import { frFR } from "gridjs/l10n";
import eye from "../assets/eye.svg";
import cross from "../assets/cross.svg";
import formReservation from "@/components/formReservation.vue";
import Swal from "sweetalert2";
import axios from "axios";
import { useRouter } from "vue-router";

const router = useRouter();

onMounted(() => {
  getTable();
});

const dialog2 = ref(false);
const menus = ref([]);

function getTable() {
  new Grid({
    columns: [
      { name: "id", hidden: true },
      "Date",
      "Nom client",
      "Table",
      "Nbre personnes",
      "Nbre enfants",
      "Description",
      { name: "menu", hidden: true },
      {
        id: "action",
        name: "Action",
        width: "120px",
        formatter: (cell, row) => {
          const viewButton = h("img", {
            src: eye,
            alt: "Voir",
            class: "ml-2",
            style: "width: 25px; height: 25px; cursor: pointer;",
            onclick: () => viewRow(row),
          });

          const suppButton = h("img", {
            src: cross,
            alt: "Supprimer",
            class: "ml-4",
            style: "width: 25px; height: 25px; cursor: pointer;",
            onclick: () => deleteRow(row),
          });

          return h(
            "div",
            {
              style: "display: flex; align-items: center;",
            },
            viewButton,
            suppButton
          );
        },
      },
    ],
    pagination: {
      limit: 30,
      server: {
        url: (prev, page, limit) =>
          `${prev}${prev.includes("?") ? "&" : "?"}limit=${limit}&offset=${
            page * limit
          }`,
      },
    },
    search: {
      server: {
        url: (prev, keyword) =>
          `${prev}${prev.includes("?") ? "&" : "?"}search=${keyword}`,
      },
    },
    sort: true,
    server: {
      url: "http://localhost:3002/api/reservations?status=Accepted",
      headers: {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      },
      then: (data) =>
        data.results.map((reservation) => [
          reservation.id,
          reservation.date,
          reservation.user
            ? `${reservation.user.lastName} ${reservation.user.firstName}`
            : reservation.name,
          reservation.table.title,
          reservation.nb_personnes,
          reservation.nb_enfants,
          reservation.description,
          reservation.menus,
        ]),
      total: (data) => data.count,
    },
    language: frFR,
  }).render(document.getElementById("grid"));
}

function deleteRow(id) {
  Swal.fire({
    title: "Êtes-vous sûr de vouloir supprimer cette réservation ?",
    icon: "warning",
    showCancelButton: true,
    confirmButtonText: "Oui, supprimer",
    cancelButtonText: "Annuler",
  }).then((result) => {
    if (result.isDismissed) return;
    axios
      .delete("http://localhost:3002/api/reservations/" + id._cells[0].data, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      })
      .then(() => {
        if (result.value) {
          Swal.fire({
            title: "Réservation supprimé !",
            icon: "success",
          }).then(() => {
            router.go();
          });
        }
      })
      .catch((err) => {
        Swal.fire({
          title: "Erreur !",
          text: err.response.data.message,
          icon: "error",
        });
      });
  });
}

function viewRow(row) {
  menus.value = row._cells[7].data;
  dialog2.value = true;
}
</script>
