<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div>
    <h1 class="text-2xl ma-2 font-bold">Services</h1>
    <formService />
    <div class="mx-2 mt-2" id="grid"></div>
  </div>
</template>
<script setup>
import { onMounted } from "vue";
import { Grid, h } from "gridjs";
import { frFR } from "gridjs/l10n";
import cross from "../assets/cross.svg";
import formService from "@/components/formService.vue";
import Swal from "sweetalert2";
import axios from "axios";
import { useRouter } from "vue-router";

const router = useRouter();

onMounted(() => {
  getTable();
});
function getTable() {
  new Grid({
    columns: [
      { name: "id", hidden: true },
      "Nom",
      "Heure début",
      "Heure fin",
      {
        id: "action",
        name: "Action",
        width: "120px",
        formatter: (cell, row) => {
          const suppButton = h("img", {
            src: cross,
            alt: "Supprimer",
            class: "ml-2",
            style: "width: 25px; height: 25px; cursor: pointer;",
            onclick: () => deleteRow(row),
          });

          return h(
            "div",
            {
              style: "display: flex; align-items: center;",
            },
            suppButton
          );
        },
      },
    ],
    pagination: {
      limit: 30,
      server: {
        url: (prev, page, limit) =>
          `${prev}${prev.includes("?") ? "&" : "?"}limit=${limit}&offset=${
            page * limit
          }`,
      },
    },
    search: {
      server: {
        url: (prev, keyword) =>
          `${prev}${prev.includes("?") ? "&" : "?"}search=${keyword}`,
      },
    },
    sort: true,
    server: {
      url: "http://localhost:3002/api/services",
      then: (data) =>
        data.services.map((personnel) => [
          personnel.id,
          personnel.title,
          personnel.date_start,
          personnel.date_end,
        ]),
      total: (data) => data.count,
    },
    language: frFR,
  }).render(document.getElementById("grid"));
}

function deleteRow(id) {
  Swal.fire({
    title: "Êtes-vous sûr de vouloir supprimer ce service ?",
    icon: "warning",
    showCancelButton: true,
    confirmButtonText: "Oui, supprimer",
    cancelButtonText: "Annuler",
  }).then((result) => {
    if (result.isDismissed) return;
    axios
      .delete("http://localhost:3002/api/services/" + id._cells[0].data, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      })
      .then(() => {
        if (result.value) {
          Swal.fire({
            title: "Service supprimé !",
            icon: "success",
          }).then(() => {
            router.go();
          });
        }
      })
      .catch((err) => {
        Swal.fire({
          title: "Erreur !",
          text: err.response.data.message,
          icon: "error",
        });
      });
  });
}
</script>
