<template>
  <v-app>
    <AppBar v-if="!isLoginPage"/>
    <v-main>
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import AppBar from '@/layouts/default/AppBar.vue';

export default {
  name: 'App',
  components: {
    AppBar,
  },
  computed: {
    isLoginPage() {
      return this.$route.name === 'Login'; // Vérifie si la route actuelle est la page de connexion
    },
  },
}
</script>
